@model IQueryable<IndexViewModel>

<h1>Manage users</h1>

<a asp-area="Identity" asp-controller="Manage" asp-action="CreateUser" class="btn btn-outline-primary">Create user</a>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Locked</th>
        <th>Failed login count</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@(user.LockoutEnabled ? "Yes" : "No")</td>
            <td>@user.AccessFailedCount</td>
            <td>@string.Join(", ", user.Roles)</td>
            <td>
                <a asp-area="Identity" asp-controller="Manage" asp-action="DeleteUser" asp-route-userId="@user.Id" class="btn btn-sm btn-outline-danger">Delete</a>
            </td>
        </tr>
    }
</table>